:root{
    --glowHigh: #a004de;
    --glowLow: #7c00ad;
    --offwhite: #c6c4be;
    --textShadow: #313131;
}

@font-face{
    font-family: 'Title';
    src: url(resources/BLKCHCRY.TTF)
}

body,html{
    font-family:Garamond;
    color: var(--offwhite);
    text-shadow: var(--textShadow) 2px 2px;
    font-size: 17px;
    margin:0px;
    padding: 0px;
    height: 100%;
    background-color: #201f1d;
    background-repeat: round;
}

ul {
    list-style-type:none; 
}

li a{
    text-decoration:dashed;
}

.navbar{
    background-color: #1e1d1d;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li{
    float:right;
}
.navbar li a{
    display: block;
    color: var(--offwhite);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border-right: 1px solid var(--offwhite);
}
.navbar .home{
   float: left;
}
.navbar .home a{
    border-right: none;
}

.navbar .active{
    background-color: #313131;
}

.content{
    margin: auto;
    text-align: left;
    background-color: #232222;
    width: 70%;
    border-left: solid 2px var(--textShadow);
    padding-left: 7px;
}
.albums{
    text-align: center;
    margin:auto;
    font-size: 15px;
}

.albums img{
    max-width: 100px;
}

.albums tr:nth-child(even){
    background-color: #2f2e2e;
}

/*TODO: Add houndstooth pattern to title div*/
.titlediv {
}

h1{
    padding: 10;
}

.glow {
    font-family: 'Title';
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--glowLow), 0 0 40px var(--glowLow), 0 0 50px var(--glowLow), 0 0 60px var(--glowLow), 0 0 70px var(--glowLow);
      transform: translateY(2px);
    }
    to {
      text-shadow: 0 0 20px #fff,  0 0 20px #fff, 0 0 30px var(--glowHigh), 0 0 40px var(--glowHigh), 0 0 50px var(--glowHigh), 0 0 60px var(--glowHigh), 0 0 70px var(--glowHigh);
      transform: translateY(-2px);
    }
  }