:root{
    --glowHigh: #a004de;
    --glowLow: #7c00ad;
}

@font-face{
    font-family: 'Charm';
    src: url(resources/Charm-Regular.ttf)
}

@font-face{
    font-family: 'Atlantis';
    src: url(resources/Atlantis.ttf)
}

body,html{
    font-family:ms pgothic;
    color: #cacac3;
    text-shadow: #313131 2px 2px;
    font-size: 1rem;
    margin:0px;
    padding: 0px;
    height: 100%;
    list-style-type:none;
    filter: contrast();
    background-color: #20201d;
    background-repeat: round;
}
li {
    padding-left: 20px;
}
.content{
    margin: auto;
    text-align: left;
    background-color: #242424;
    width: 80%;
    border: #777777;
}

.mainCentered{
    margin-left: 85px;
    text-align: center;
    background-color: #202020;
    width: 80%;
    border: #777777;
}

.houndstooth {
    
}

h1{
    padding: 30;
}

.glow {
    font-family: 'Charm';
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--glowLow), 0 0 40px var(--glowLow), 0 0 50px var(--glowLow), 0 0 60px var(--glowLow), 0 0 70px var(--glowLow);
      transform: translateY(0px);
    }
    to {
      text-shadow: 0 0 20px #fff,  0 0 20px #fff, 0 0 30px var(--glowHigh), 0 0 40px var(--glowHigh), 0 0 50px var(--glowHigh), 0 0 60px var(--glowHigh), 0 0 70px var(--glowHigh);
      transform: translateY(-5px);
    }
  }